.training_1{
    position: relative;
    padding: 2rem 0;
}
.training_1 .head_text{
    position: relative;
    margin-bottom: 1rem;
}
.training_1 .head_text h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: #153F21;
}
.training_1 .head_text h1 img{
    max-width: 30px;
    width: 100%;
    margin-left: 0.5rem;
}
.training_1 .head_text p:nth-child(2){
    font-size: 1.2rem;
    color: #043B1A;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 24px;
}
.training_1 .head_text p:nth-child(3){
    font-size: 1.1rem;
    color: #043B1A;
    font-weight: 500;
    text-align: justify;
    line-height: 24px;
}
.training_1 .box{
    position: relative;
    padding: 1rem;
}
.training_1 .box .img{
   max-width: 300px;
   width: 100%;
}
.training_1 .box .img img{
   width: 100%;
}

/* ---------------------training_2------------ */

.training_2 h2{
    font-size: 1.8rem;
    font-weight: 600;
    color: #043B1A;
    line-height: 40px;
    margin-bottom: 2rem;
}
.training_2 ul li{
    color: #043B1A;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 1rem;
}
.training_2 ul li span{
    font-weight: 700;
}


/* ------------------training_3---------------- */
.training_3{
    position: relative;
    padding: 3rem 0;
}
.training_3 h3{
   font-size: 1.4rem;
   font-weight: 700;
   color: #043B1A;
   text-align: center;
   padding: 0 5rem;
   line-height: 40px;
}